.searchbar-container {
  position: absolute;
  top: 38px;
  left: 20px; 
  z-index: 1000;
}

.searchbar-popup {
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 8px;
  align-items: center;
  width: 400px
}

.search-input {
  padding: 15px 12px;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 400px;
  font-size: 18px;
}

.search-button {
  padding: 00px 4px;
  background-color: white;
  color: #ccc;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #ccc;
}
