<div class="map-layout">
  
  <app-sidebar 
  (searchClicked)="onSearchClicked()"
  (listClicked)="onListClicked()"
  ></app-sidebar>

  
  <div class="map-main">
    
  <div class="liste-entreprises" *ngIf="listVisible()">
  <h3>Entités gestionnaires</h3>
  <ul>
    <li *ngFor="let entite of entitesGestionnaires()" (click)="filtrerParEntite(entite)">
  {{ entite }}
</li>
  
  </ul>
</div>

  <div class="map-overlay-controls-row">
    <app-type-filtre
      *ngIf="biens.length > 0"
       [types]="getUtilisationsDisponibles()"
    (filtreChange)="filtrerParUtilisation($event)">
  </app-type-filtre>

  <app-search-bar 
    [visible]="showSearchBar()" 
    [biens]="biens" 
    (bienTrouve)="onBienTrouve($event)">
  </app-search-bar>
  </div>


  <div *ngIf="errorMessage !== null" class="error-message">
  {{ errorMessage }}
</div>

  
    <div id="map" class="map-area"></div>

    
    <div class="property-info"
    *ngIf="sidebarVisible() && selectedProperty()" >
      <ng-container *ngIf="selectedProperty() as bien">
        <button class="close-btn" (click)="closeSidebar()">✕</button>
        <img *ngIf="bien['Phtoto 1']" [src]="bien['Phtoto 1']" alt="Photo du bien" />
        <h3>{{ bien['Entité gestionnaire'] }}</h3>
        <p><em>{{ bien['Désignation'] }}</em></p>

        <ul class="info-list">
          <li><i class="fas fa-building"></i> <strong>Type :</strong> {{ bien.Type }}</li>
          <li><i class="fas fa-hashtag"></i> <strong>Référence :</strong> {{ bien['Référence (Réquisition/Titre foncier/contrat locationà)'] }}</li>
          <li><i class="fas fa-dollar-sign"></i> <strong>Montant(dh) :</strong> {{ bien.Montant }}</li>
          <li><i class="fas fa-dollar-sign"></i> <strong>Type de propriété :</strong> {{ bien['Type de propritété'] }}</li>
        </ul>
      </ng-container>
    </div>
  </div>
</div>
